<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello Word</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app/network/js/controller/network.js"></script>
    <script src="app/network/js/service/network.js"></script>
</head>
<body ng-app="monitor.network" ng-controller="monitor.networkController">
<div class="container">
    <div class="row">
        <div class="form-group col-md-3" >
            <select ng-model="selectedNetwork" ng-options="item for item in networkList" class="form-control">
                <option value="">-- 请选择 --</option>
            </select>
        </div>
        <div class="col-md-3">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>主机地址</td>
                    <td>端口</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="one in hostList" ng-show="one.port>0">
                    <td>
                        {{one.ip}}
                    </td>
                    <td>
                        {{one.port|portFilter}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>